h1 {background-color:green}
h3 {background-color:red}
h2 {background-color:blue}
p {background-color:brown}
strong {background-color:Crimson}
b {background-color:IndianRed}
i {background-color:pink}
em {background-color:purple}
mark {background-color:black}
small {background-color:Indigo}
del {background-color:Violet}
ins {background-color:LightCoral}
sub {background-color:Moccasin}
sup {background-color:Chocolate}
ul {background-color:DeepSkyBlue}
li {background-color:DarkSlateBlue}
ol {background-color:MediumSlateBlue}
dl {background-color:PaleGreen}
dt {background-color:Cyan}
dd {background-color:Salmon}
table {background-color:DarkViolet}
tr {background-color:DodgerBlue}
th {background-color:DarkOliveGreen}
td {background-color:Aquamarine}
img {
	background-color:LightSteelBlue;
	margin:20px;
	padding:5px;
	}
